* {
  text-decoration: none !important;
  list-style: none;
  box-sizing: border-box;
}

body {
  header {
    padding: 10px 0;
    .container {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2 {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
      }
      a {
        color: black;
      }
    }
  }
  .countries {
    background-color: #f2f2f2;
    .container {
      max-width: 1200px;
      margin: 0 auto;
      .search-select {
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .search-input {
          position: relative;
          .search {
            width: 100%;
            padding: 15px 70px;
            border: 1px solid white;
            box-shadow: 2px 2px 7px rgb(202, 199, 199);
            border-radius: 5px;
          }
          .fa-magnifying-glass {
            position: absolute;
            top: 35%;
            left: 8%;
          }
        }
        #select {
          padding: 15px 20px 15px 10px;
          border: 1px solid white;
          box-shadow: 2px 2px 7px rgb(202, 199, 199);
          border-radius: 5px;
        }
      }
      .cards {
        .row {
          .col {
            .card {
              box-shadow: 1px 1px 7px rgb(202, 199, 199);
            }
          }
        }
      }
    }
  }
  &.dark-mode {
    header {
      background-color: #2b3844;
      .container {
        h2 {
          color: white;
        }
        a {
          color: white;
        }
      }
    }
    .countries {
      background-color: #202c36;

      .container {
        .search-select {
          .search-input {
            .search {
              background-color: #2b3844;
            }
            .fa-magnifying-glass {
              color: white !important;
            }
          }
          #select {
            background-color: #2b3844;
            color: white;
          }
        }
        .cards {
          .row {
            .col {
              .card {
                background-color: #2b3844;
                color: white;
                box-shadow: 1px 1px 7px rgb(202, 199, 199);
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .search-select {
    flex-direction: column;
    .search {
      margin: 10px;
    }
  }
}
